<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515221420375-93ch7ibs73t852ciikvvt3v6g68aaum7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515221420375-93ch7ibs73t852ciikvvt3v6g68aaum7</string>
	<key>API_KEY</key>
	<string>AIzaSyCdfnws6CW8W-fMSSlEJamYlmzMHDb9O90</string>
	<key>GCM_SENDER_ID</key>
	<string>515221420375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineStore</string>
	<key>PROJECT_ID</key>
	<string>onlinestore-a8bff</string>
	<key>STORAGE_BUCKET</key>
	<string>onlinestore-a8bff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515221420375:ios:b2b2f4122b21100afb6612</string>
</dict>
</plist>